@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
}